body {
    font-family: Arial, sans-serif;
    margin: 20px auto; /* Center the content */
    max-width: 1000px; /* Adjust the maximum width as needed */
    padding: 0 20px; /* Add padding to the sides */
    display: flex;
    flex-direction: column;
}
header {
    text-align: center;
    margin-bottom: 20px;
}
h1 {
    margin-top: 0;
    text-align: center; /* Center the header title */
}
.container {
    display: flex;
}
#sidebar {
    flex: 0 0 300px; /* Sidebar width */
    margin-right: 20px;
}
@media screen and (max-width: 600px) {
    #sidebar {
        flex: 1; /* Sidebar takes full width on small screens */
        margin-bottom: 0; /* Remove bottom margin */
    }
}
#content {
    flex: 1;
}
nav ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
ul ul {
    padding-left: 20px; /* Adjust indentation for sub-levels */
    padding-top: 5px;
    padding-bottom: 5px;
}

article {
}

blockquote {
    border-left: 4px solid #ccc;
    padding-left: 10px;
    margin-left: 0;
    font-style: italic;
    color: #555;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
#table-of-contents a {
    text-decoration: none;
    color: #0077cc;
}
#table-of-contents a:hover,
#table-of-contents a:active,
#table-of-contents a:focus,
#table-of-contents a:visited {
    color: #0077cc;
}
/* Center images */
article img {
    display: block;
    margin: 0 auto;
}
/* Style image captions */
.caption {
    text-align: center;
    font-style: italic;
    color: #777;
    margin-top: 5px;
}
